/* src/pages/Auth/Auth.css */

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f5f7;
}

.auth-card {
  background-color: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  width: 360px;
  text-align: center;
}
.auth-logo {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
}
.auth-logo2 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}


.auth-card h2 {
  margin-bottom: 20px;
  color: #172b4d;
    font-weight: 653;
    font-size: 18px;
}
.auth-card label {
  display: block;
  margin-top: 10px;
  text-align: left;
   font-weight: 600;
   color: #44546F;
    font-size: 15px;
}
.auth-card input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #5e6c84;
  border-radius: 4px;
 
}

.auth-card button {
  width: 100%;
  padding: 12px;
  background-color: #0052cc;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  margin-top: 20px;

}

.auth-card button:hover {
  background-color: #0065ff;
}

.auth-card p {
  margin-top: 15px;
  font-size: 14px;
  color: #5e6c84;
}

.auth-error {
  color: red;
  margin-bottom: 10px;
}
