.boards-page {
  padding: 20px;
}

.boards-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 24px;
}



.board-card {
  background-color: white;
  padding: 20px;
  width: 200px;
  height: 120px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.board-card.new-board input {
  padding: 6px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-bottom: 6px;
}

.board-card.new-board button {
  padding: 6px;
  background-color: #0052cc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
